<!DOCTYPE html>
<html>
  <head>
    <title>Transactify</title>

    <link rel="icon" type="image/png" href="/transactify_logo.png" />
    <style>
      body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        font-family: "Courier New", Courier, monospace;
      }
      div {
        width: 100%;
        text-align: center;
        height: 100%;
        align-content: center;
        color: #ff4848;
      }
    </style>
  </head>
  <body>
    <div>
      <img src="/transactify_logo_96.png" alt="Transactify Logo" />
      <h1>404</h1>
      <h3>Oops the requested resource was not fount on the server!</h3>
    </div>
  </body>
</html>
